html {
  height: 100vh;
  width: 100vw;
}

body {
  padding: 0;
  margin: 0;

  font-family: monospace;
  text-align: center;
  color: lightgray;

  background-color: rgb(63, 63, 63);
}

section {
  height: 100%;
  width: 100%;

  margin: 1rem 0;
}

text {
  font-weight: bold;
  font-size: 1rem;
}
